@import '~antd/dist/antd.css';


.App{
    width: 99%;
    height: 99%;
    margin: auto;
}
.editinput{
    margin-top: 20px;
}
.ant-layout-sider {
    color: black;
    line-height: 120px;
    background: white;
}
li{
    color: black;
}
.ant-layout-header,
.ant-layout-footer {
  color: #fff;
  background: #7dbcea;
}
